/* 
font-family: 'Roboto', sans-serif;
font-family: 'Jomolhari', serif; 
*/

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Jomolhari', serif;
}

.page-header {
    background: #2D3945;
    color: white;
    display: flex;
    font-size: 0.6em;
    height: 75px;
    align-items: center;
    justify-content: center;
}

.page-header h1 {
    margin: 0;
}

.main-header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-header h2 {
    font-weight: 900;
    font-size: 1.2em;
    color: #2D3945;
}

.main-header p {
    color: #A4A9AE;
    font-size: 0.89em;
    width: 80%;
    margin: auto auto 25px auto;
}

fieldset {
    border: 0;
}

hr.first-divider {
    height: 1px;
    border: 0;
    color: #424242;
    background-color: #424242;
    width: 90%;
    }